<a href="https://colab.research.google.com/github/nitish-pandey/Recommendation-System/blob/main/Merge_and_get_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
import ast

# Data Loading and Merging

In [2]:
metadata=pd.read_csv('/content/drive/MyDrive/My Codes and data/Movie-Data/final_metadata.csv')
metadata.head()

   adult  ...                        title
0  False  ...                    Toy Story
1  False  ...                      Jumanji
2  False  ...             Grumpier Old Men
3  False  ...            Waiting to Exhale
4  False  ...  Father of the Bride Part II

[5 rows x 10 columns]

In [3]:
credits=pd.read_csv('/content/drive/MyDrive/My Codes and data/Movie-Data/final_credits.csv')
credits.head()

      id     actor_1_name    actor_2_name    actor_3_name    director_name
0    862        Tom Hanks       Tim Allen     Don Rickles    John Lasseter
1   8844   Robin Williams   Jonathan Hyde   Kirsten Dunst     Joe Johnston
2  15602   Walter Matthau     Jack Lemmon     Ann-Margret    Howard Deutch
3  31357  Whitney Houston  Angela Bassett  Loretta Devine  Forest Whitaker
4  11862     Steve Martin    Diane Keaton    Martin Short    Charles Shyer

In [4]:
metadata=metadata[metadata["title"].str.contains("NaN")==False]

metadata['id']=metadata['id'].astype(int)
credits['id']=credits['id'].astype(int)

merge=pd.merge(metadata,credits,on='id')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
merge

       adult                    genres  ...    actor_3_name     director_name
0      False   Animation Comedy Family  ...     Don Rickles     John Lasseter
1      False  Adventure Fantasy Family  ...   Kirsten Dunst      Joe Johnston
2      False            Romance Comedy  ...     Ann-Margret     Howard Deutch
3      False      Comedy Drama Romance  ...  Loretta Devine   Forest Whitaker
4      False                    Comedy  ...    Martin Short     Charles Shyer
...      ...                       ...  ...             ...               ...
45530  False              Drama Family  ...     Elham Korda  Hamid Nematollah
45531  False                     Drama  ...   Hazel Orencio          Lav Diaz
45532  False     Action Drama Thriller  ...   Julie du Page    Mark L. Lester
45533  False                       NaN  ...    Pavel Pavlov  Yakov Protazanov
45534  False                       NaN  ...             NaN     Daisy Asquith

[45535 rows x 14 columns]

In [6]:
data=merge
data=data.replace(to_replace=np.NaN,value="")
data['features']=data['features']=data['title']+" "+data['director_name']+" "+data['genres']+" "+data['actor_1_name']+" "+data['actor_2_name']+" "+data['actor_2_name']
data.features=data.features.str.lower()
data.features=data.features.replace('unknown',' ')
data=data.replace('\xa0','',regex=True).astype(str)

In [7]:
data

       adult  ...                                           features
0      False  ...  toy story john lasseter animation comedy famil...
1      False  ...  jumanji joe johnston adventure fantasy family ...
2      False  ...  grumpier old men howard deutch romance comedy ...
3      False  ...  waiting to exhale forest whitaker comedy drama...
4      False  ...  father of the bride part ii charles shyer come...
...      ...  ...                                                ...
45530  False  ...  subdue hamid nematollah drama family leila hat...
45531  False  ...  century of birthing lav diaz drama angel aquin...
45532  False  ...  betrayal mark l. lester action drama thriller ...
45533  False  ...  satan triumphant yakov protazanov  iwan mossch...
45534  False  ...                         queerama daisy asquith

[45535 rows x 15 columns]

In [8]:
merge=data[['id','features']]
merge

           id                                           features
0         862  toy story john lasseter animation comedy famil...
1        8844  jumanji joe johnston adventure fantasy family ...
2       15602  grumpier old men howard deutch romance comedy ...
3       31357  waiting to exhale forest whitaker comedy drama...
4       11862  father of the bride part ii charles shyer come...
...       ...                                                ...
45530  439050  subdue hamid nematollah drama family leila hat...
45531  111109  century of birthing lav diaz drama angel aquin...
45532   67758  betrayal mark l. lester action drama thriller ...
45533  227506  satan triumphant yakov protazanov  iwan mossch...
45534  461257                         queerama daisy asquith

[45535 rows x 2 columns]

In [9]:
merge.to_csv('features.csv',index=False)